body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-image: url("../img/2560x1440-blue-abstract-noise-free-website-background-image.jpg"); */
    background-color: #00818a;
    line-height: 150%;
}

.btn {
    background-color: white;
    color: black;
}

.buttons {
    border: 0;
}

.collapseButton {
    border-radius: 5px;
    border: 0px;
    float: right;
    margin-top: 13px;
}

#content {
    padding: 1em;
    /* height: 35em; */
    top: 155px;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    overflow-y: auto;
    /* overflow-x: hidden; */
    z-index: -1;
    white-space: nowrap;
}

header {
    /* background-color: #c2cad0; */
    background-color: #293462;
    /* height: 145px; */
    padding: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    /* margin-bottom: 20px; */
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
    /* display: block */
    /* overflow: auto; */
    
}

#description {
    /* background-color: #afd275; */
    background-color: #c2cad0;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
    font-size: 24px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

.p-desc {
    /* font-family: 'Caveat', cursive; */
    color: black;
    line-height: 150%;
}

#addTables {
    border: 0px;
    float: right;
    background-color: white;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 5%;
    right: 2%;
    border-radius: 5px;
}

#title {
    /* text-align: center; */
    width: 100%;
    /* position: absolute; */
    padding-left: 15%;
    text-decoration: none;
    color: black;
}


h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 78px;
    margin-left: 50px;
}

.color-option {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 5px;
    /* background-color: red; */
}
#red {
    background-color: #e7717d;
}
#gray {
    background-color: #c2cad0;
}

#tan {
    background-color: #c2b920;
}
#brown {
    background-color: #7e685a;
}
#green {
    background-color: #afd275;
}
#turquoise {
    background-color: #66fcf1;
}
#blue {
    background-color: #123c69;
}
#orange {
    background-color: #ffcb9a;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-radius: 5px;
}

#deletePage {
    border: none;
    cursor: pointer;
    background-color: #f9f9f9;
    min-width: 160px;
}
  
.dropdown:hover .dropbtn {
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a, #deletePage {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 15px;
}

#addTable:hover {
    cursor: pointer;
    color: white;
    background-color:  rgb(37, 37, 37);
}

#addTable {
    /* background-color: white; */
    font-size: 16px;
    border: 0px;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-radius: 5px;
    float: right;
}

.dropdown {
    float: left;
    /* overflow: hidden; */
    border-radius: 5px;
}

.dropdown-content a:hover, .dropdown-content #deletePage:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    float: left;
    border-radius: 5px;
    margin-top: 20px;
  }

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

.itemTable {
    background-color: white;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 290px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

.tableHead p {
    display: inline-table;
    margin-bottom: 7px;
    width: 85%;
    /* border-bottom: 1px solid gray; */
    padding-bottom: 5px;
}

.tableHead {
    width: 100%;
    text-align: center;
}

.itemsArea {
    overflow: auto;
    max-height: 28em;
    border: 1px solid gray;
    border-radius: 5px;
    min-height: 40px;
    box-shadow: inset 0px 3px 8px -4px rgba(0, 0, 0, 0.2);
}

.addItem {
    text-align: center;
    border-radius: 5px;
    border: 0px;
    width: 28px;
    height: 30px;
    margin-top: 10px;
    outline: none;
    cursor: pointer;
}

.color-container .color-option {
    width: 80px;
    border: 0px;
    border-radius: 0;
}

.form-check {
    margin-top: 10px;
}

.delete-table, .delete-item, .modify-table, .modify-item {
    cursor: pointer;
    border: 0px;
    border-radius: 5px;
}

.delete-table, .delete-item{
    float: right;
}

.modify-table, .modify-item {
    float: left;
}

.item p {
    text-align: center;
    padding: 5px;
    margin: 0;
    overflow: auto;
}

.container-fluid {
    z-index: 1;
}
.item {
    border: 0px;
    border-radius: 5px;
    overflow: auto;
    min-height: 40px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}

.expand {
    border-radius: 5px;
    border: 0px;
    float: right;
    margin-top: 13px;
}

.dropdown-toggle {
    font-size: 24px;
    height: 60px;
    /* width: 50px; */
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.hover {
    height: 100px;

}

/* .modal {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1; */
    /* border: 1px solid black; */
    /* text-align: center; */
    /* background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.modal-content {
    background-color: whitesmoke;
    margin: 20% auto;
    padding: 20px 30px;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 2%;
    right: 2%;
} */