body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-image: url("../img/2560x1440-blue-abstract-noise-free-website-background-image.jpg"); */
    background-color: #e7717d;
    line-height: 150%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#content {
    padding: 1.5em;
}

header {
    /* background-color: #c2cad0; */
    background-color: #afd275;
    height: 145px;
    padding: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
    /* margin-bottom: 20px; */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
    /* display: block */
    overflow: auto;
    
}

#description {
    /* background-color: #afd275; */
    background-color: #c2cad0;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
    font-size: 24px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

.p-desc {
    /* font-family: 'Caveat', cursive; */
    color: black;
    line-height: 150%;
}

#addTables {
    float: right;
    background-color: white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 5%;
    right: 2%;
}

#title {
    /* text-align: center; */
    width: 100%;
    /* position: absolute; */
    padding-left: 15%;
    text-decoration: none;
    color: black;
}

#title h1 {
    /* padding: 0; */
    margin-top: 5px;
    /* color: black; */
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
    margin-left: 50px;
}

.color-option {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 5px;
    /* background-color: red; */
}
#red {
    background-color: #e7717d;
}
#gray {
    background-color: #c2cad0;
}

#tan {
    background-color: #c2b920;
}
#brown {
    background-color: #7e685a;
}
#green {
    background-color: #afd275;
}
#turquoise {
    background-color: #66fcf1;
}
#blue {
    background-color: #123c69;
}
#orange {
    background-color: #ffcb9a;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-radius: 5px;
}

#deletePage {
    border: none;
    cursor: pointer;
    background-color: #f9f9f9;
    min-width: 160px;
}
  
.dropdown:hover .dropbtn {
    background-color: rgb(90, 90, 90);
    border-radius: 5px;
}

.dropdown-content a, #deletePage {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 15px;
}

#addTable:hover {
    cursor: pointer;
}

#addTable {
    /* background-color: white; */
    font-size: 16px;
    border: 1px solid;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-radius: 5px;
    float: right;
}

.dropdown {
    float: left;
    overflow: hidden;
    border-radius: 5px;
}

.dropdown-content a:hover, .dropdown-content #deletePage:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    float: left;
    border-radius: 5px;
    margin-top: 27px;
  }

.itemTable {
    background-color: white;
    float: left;
    margin-right: 30px;
    margin-bottom: 50px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    min-width: 200px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
}

.tableHead p {
    display: inline-table;
    margin: 0px;
    width: 85%;
    border-bottom: 1px solid gray;
    padding-bottom: 8px;
}

.tableHead {
    width: 100%;
    text-align: center;
}

.addItem {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 43%;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    outline: none;
    cursor: pointer;
}

.delete, .modify {
    cursor: pointer;
}

.modify {
    float: left;
}

.item p {
    text-align: center;
    padding: 5px;
}

.delete {
    float: right;
}

.item {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgb(146, 146, 146);
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}

/* .modal {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1; */
    /* border: 1px solid black; */
    /* text-align: center; */
    /* background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.modal-content {
    background-color: whitesmoke;
    margin: 20% auto;
    padding: 20px 30px;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 2%;
    right: 2%;
} */